<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>upload folder</param-name>
    <param-value>attachment</param-value>
  </context-param>
  <context-param>
    <param-name>allowed file type</param-name>
    <param-value>.gif, .jpg, .bmp</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.web.Servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdentityServlet</servlet-name>
    <servlet-class>IdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentityServlet</servlet-name>
    <url-pattern>/IdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParamServlet</display-name>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>InitParamServlet</servlet-class>
    <init-param>
      <param-name>helloween</param-name>
      <param-value>password</param-value>
    </init-param>
    <init-param>
      <param-name>admin</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>babyface</param-name>
      <param-value>babyface</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/InitParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextParamServlet</display-name>
    <servlet-name>ContextParamServlet</servlet-name>
    <servlet-class>ContextParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextParamServlet</servlet-name>
    <url-pattern>/ContextParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InjectionServlet</display-name>
    <servlet-name>InjectionServlet</servlet-name>
    <servlet-class>InjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectionServlet</servlet-name>
    <url-pattern>/InjectionServlet</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>hello</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>
			Hello, Welcome to the JavaEE Resource Injection.
		</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>i</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>30</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>persons</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>
			Helloween, Cobain, Roses, Axl,
		</env-entry-value>
  </env-entry>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>LifeCycleServlet</servlet-class>
    <init-param>
      <param-name>startPoint</param-name>
      <param-value>1600</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>ForwardServlet</servlet-class>
    <init-param>
      <param-name>destination</param-name>
      <param-value>forward.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCookieServlet</display-name>
    <servlet-name>LoginCookieServlet</servlet-name>
    <servlet-class>LoginCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCookieServlet</servlet-name>
    <url-pattern>/LoginCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HolisticCounter</servlet-name>
    <servlet-class>HolisticCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolisticCounter</servlet-name>
    <url-pattern>/HolisticCounter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleCounter</servlet-name>
    <servlet-class>SimpleCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCounter</servlet-name>
    <url-pattern>/SimpleCounter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/RedirectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginGetparameter</servlet-name>
    <servlet-class>com.web.Servlet.LoginGetparameter</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Zarek</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginGetparameter</servlet-name>
    <url-pattern>/LoginGetparameter</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ERROR</param-name>
    <param-value>please check your account, thank you !</param-value>
  </context-param>
</web-app>